<div class="project page-break-before">
  <h4><%= response.name.upcase %></h4>
    <div class="table">
        <div>
            <span style="background-image: url(<%= response.profile_pic_link %>)">
        </div>
        <div>
            <h5><%= response.app_name.upcase %></h5>
            <h5><%= link_to url_with_protocol(response.app_url), url_with_protocol(response.app_url), :target => '_blank' %></h5>

        </div>
    </div>

    <p class="hideable"><%= response.bio %></p>
    <p class="hideable"><%= response.rationale %></p>


    <h5 class="hideable">TECHNOLOGY USED</h5>

    <p class="hideable"><%= response.tech_used.upcase %></p>

      <div>
        <h6>Email Address: <%= mail_to response.email %></h6>
        <h6>GitHub Username: <%= link_to (url_with_protocol(response.github_url) || "").split("/")[3], url_with_protocol(response.github_url), :target => '_blank' %></h6>
        <% unless response.portfolio_url.blank? %>
          <h6>Portfolio: <%= link_to "#{url_with_protocol(response.portfolio_url)}", url_with_protocol(response.portfolio_url), :target => '_blank' %></h6>
        <% end %>
      </div>


</div>
