<!DOCTYPE html>
<html id="min">

<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"> -->
    <title>Demo Day | The Iron Yard</title>
</head>

<body style="">
    <div class="grid grid-2-640 hideable">
        <div class="vslide c">
            <h1 class="tera">Demo
                <br>Day</h1>
            <h3><%= "The Iron Yard - #{city_name.titleize}"%></h3>
            <p>July 24, 2015</p>
            <%= image_tag "iron-yard-logo.svg", style: "preserveAspectRatio=MinYMin slice" %>
        </div>

        <div class="vslide">
            <h4>About The Iron Yard Academy</h4>

            <p>The Iron Yard Academy teaches intensive, three-month courses that mentor students into professional junior-level
              programmers. Our program goes far beyond tactical skills and teaches students to think like a software engineer.
              Students have spent the past twelve weeks studying either Ruby on Rails Engineering or Front End Engineering and
              today they will present their final projects, which showcase the skills they have learned.</p>

            <%= image_tag "houston-blog-header.jpg", class: "about-img"%>
        </div>
    </div>

    <div class="grid">
        <div>
            <h4 class="hideable">Interested in hiring a graduate?</h4>

            <p class="hideable"> <%= "All of our graduates are ready for their first jobs as junior developers. If you meet someone who
            would be a great fit for your team, please feel free to reach out to them directly. Graduates' contact info can be found here.
            If you have questions or want more information about how our job placement program works, get in touch with the #{city_name} team, at "%><%= mail_to "#{city_name.downcase}@theironyard.com" %>.</p>


        </div>
    </div>

    <div class="grid hideable page-break-after">
        <div>
            <h4>Interested in taking a class or learning more?</h4>

            <p>Our next classes begin August 24, 2015. We are taking applications now . Applications can be found on our website: <a href="http://theironyard.com/apply" target="_blank">theironyard.com/apply</a>. We also offer free classes for kids and host a variety of meet-ups and free events. For more information on any of these programs, visit our website or email <%= mail_to "#{city_name.downcase}@theironyard.com" %>.</p>

        </div>
    </div>
<%if all_students.select {|c| c.city == "#{city_name}"}.empty? %>
<h2>Check Back Soon For Developer Profiles</h2>
<% else %>
    <div>
      <h3>The <%= "#{city_name.titleize} " %>Developers</h3>
    </div>

    <% if rails.select {|c| c.city == "#{city_name}"}.empty? %>
    <% else %>
    <div>
        <h4>Back End Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">

      <% rails.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
      <% end  %>
    </div>

    <% if js.select {|c| c.city == "#{city_name}"}.empty? %>
    <% else %>

    <div class="page-break-before">
        <h4>Front End Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% js.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>

<% if python.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>
    <div class="page-break-before">
        <h4>Python Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% python.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>

<% if mobile.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>
    <div class="page-break-before">
        <h4>Mobile Development</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% mobile.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>
<% end %>

<h4 class="c hideable page-break-before"><%= "#{city_name.titleize} " %>Staff Profiles</h4>

      <% staff.select {|c| c.city == "#{city_name}"}.each do |staff| %>
        <%= partial "staff", locals: {staff: staff} %>
      <% end %>



    <div class="c footer">
        <%= image_tag "iron-yard-logo.svg", style: "preserveAspectRatio=MinYMin slice" %>

    </div>
</body>

</html>
