<!DOCTYPE html>
<html id="min">

<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"> -->
    <title>Demo Day | The Iron Yard <%= "#{city_name.titleize}"%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript">window.location.replace("http://theironyard.com/locations/houston/demo-day/");</script> -->
    <script type="text/javascript" src="//use.typekit.net/zza7guc.js"></script>
    <style type="text/css">.tk-ff-tisa-web-pro,body{font-family:"ff-tisa-web-pro",serif;}</style>
    <link rel="stylesheet" href="https://use.typekit.net/c/1e5c78/1w;ff-tisa-web-pro,2,ft8:W:i4,ft5:W:i7,ftH:W:n4,ft4:W:n7/l?3bb2a6e53c9684ffdc9a99f1195b2a620e76f79442dc56e2cfb5a34815ae8d8619104a485c365853335b5f7951980c589f100e8a61479e110acda6029abec0b01d03383ff0ac08b0527646f55fdbe19e9c611dc951c0055d4548c6c09030deb3f1a6b43939dbbd60ad231fbabc90bf9edebffd9629bc0bc1843c99bd0c435520930f557d48a9df139f8b6fe6a3a2b909cefe2a62b7ca07d4d8c488dd78c1852b3a5c9856ca44a3fbe66cecc7ff51a0afc499131d1aced3d5cb1b0cbf43e98c3b7aa1434ee49587ec52401219ed6a9fc50202d6fa6b9c1599954afd84a94c831937eb3180c9be0efeb0ea4cd12e960a5ece24c1e96b8c7a18ca5487a97ded03e52e74d1fef3c7769d6274c7584c04ff242011e4881ba1535fbe642e47461d950419645f81f9e332acb72079ecf86f0de08afeee9afa6a33953c3869315805ad1f11c68837d72be608546372922d4c42df214042ef65c5cb31cb4703bb99a19bc4872e2384c59d75c8bac9d37e39a6af71baee9ac0f1" media="all">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body style="">
    <div class="grid grid-2-640 hideable">
        <div class="vslide c">
            <h1 class="tera">Demo
                <br>Day</h1>
            <h3><%= "The Iron Yard"%></h3>
          <p> <%= city_demo_date(city_name).first %> </p>



            <%= image_tag "iron-yard-logo.svg", style: "preserveAspectRatio=MinYMin slice" %>
            <br>
            <br>
            <h3><%= "#{city_name.titleize}"%></h3>
        </div>

        <div class="vslide">
            <h4>About The Iron Yard</h4>

            <p>The Iron Yard teaches intensive, three-month courses that mentor students into professional junior-level
              programmers. Our program goes far beyond tactical skills and teaches students to think like a software engineer.
              Students have spent the past twelve weeks studying <%= all_courses(city_name).to_sentence %> and
              today they will present their final projects, which showcase the skills they have learned.</p>

            <%= image_tag "#{image_name_for_city(city_name)}", :class => "about-img about-container" %>

        </div>
    </div>

    <div class="grid">
        <div>
            <h4 class="hideable">Interested in hiring a graduate?</h4>

            <p class="hideable"> <%= "All of our graduates are ready for their first jobs as junior developers. If you meet someone who
            would be a great fit for your team, please feel free to reach out to them directly. Graduates' contact info can be found here.
            If you have questions or want more information about how our job placement program works, get in touch with the #{city_name} team
            at "%><%= mail_to "#{city_name.downcase}@theironyard.com" %>.</p>


        </div>
    </div>

    <div class="grid hideable page-break-after">
        <div>
            <h4>Interested in taking a class or learning more?</h4>

            <p>Our next classes begin February 1, 2016. We are accepting applications now. Applications can be found on our website:
              <a href="http://theironyard.com/apply" target="_blank">theironyard.com/apply</a>. We also offer free classes for kids
              and host a variety of meet-ups and free events. For more information on any of these programs, visit our website or
              email <%= mail_to "#{city_name.downcase}@theironyard.com" %>.</p>

        </div>
    </div>
<%if all_students.select {|c| c.city == "#{city_name}"}.empty? %>
<h2>Check Back Soon For Developer Profiles</h2>
<% else %>
    <div>
      <h3>The <%= "#{city_name.titleize} " %>Developers</h3>
    </div>

    <% if rails.select {|c| c.city == "#{city_name}"}.empty? %>
    <% else %>
    <div>
        <h4>Back End Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">

      <% rails.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
      <% end  %>
    </div>


    <% if js.select {|c| c.city == "#{city_name}"}.empty? %>
    <% else %>

    <div class="page-break-before">
        <h4>Front End Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% js.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>

<% if python.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>
    <div class="page-break-before">
        <h4>Python Engineering</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% python.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>

<% if mobile.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>
    <div class="page-break-before">
        <h4>Mobile Development</h4>
    </div>
    <div class="grid grid-2-640 projects">


      <% mobile.select {|c| c.city == "#{city_name}"}.each do |response| %>
        <%= partial "project", locals: {response: response} %>
      <% end %>
    </div>
<% end %>
<% end %>


<% if staff.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>

<h4 class="c hideable page-break-before"><%= "#{city_name.titleize} " %>Staff Profiles</h4>

      <% staff.select {|c| c.city == "#{city_name}"}.each do |staff| %>
        <%= partial "staff", locals: {staff: staff} %>
      <% end %>

<% end %>

<% if ta.select {|c| c.city == "#{city_name}"}.empty? %>

<% else %>
<h4 class="c hideable page-break-before"><%= "#{city_name.titleize} " %>Teaching Assistants</h4>

      <% ta.select {|c| c.city == "#{city_name}"}.each do |ta| %>
        <%= partial "ta", locals: {ta: ta} %>
      <% end %>
<% end %>


    <div class="c footer">
        <%= image_tag "iron-yard-logo.svg", style: "preserveAspectRatio=MinYMin slice" %>

    </div>
</body>

</html>
